h1{
   font-family: 'Titan One', cursive;
  font-size: 25px;
  color: lightgreen
    
}
h2{
   color: lightgreen
}
h3{
   color:blue;
   font-size: 30px
}
#home{
    margin:5px 5px 10px 10px;
    padding-top:10px;
   
}
#Gallery{
   
}
#how{
    
}
#contact{
   
}
p{
   font-family: 'Boogaloo', cursive;
   font-size: 25px;
   margin:20px 20px;
   color: green;
   
    
}
h1{
   font-size:80px;
}
h7{
   font-size: 40px;
   color:green;
}
#text{
    margin:20px 20px;
    padding-top:10px;
    
}
h4{
   font-size: 30px
}